<div class="center jumbotron">
  <h1>Welcome to Charisms</h1>

  <h2>A place to chronicle the stupid stuff we say</h2>

  <% if logged_in? %>
    <!-- TODO: Something? -->
  <% else %>
      <%= link_to "Sign up now!", signup_url, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
