<% provide(:title, 'Quotes') %>

<div class = "center">
  <%= link_to "Add a quote", quotes_add_url, class: "btn btn-lg btn-primary" %>
</div>
<%= will_paginate %>

<ul class="quotes">
  <%= render @quotes %>

</ul>

<%= will_paginate %>
